# IDE folders
.idea/
.vs/

# Caches
__pycache__
.mypy_cache
.cache/

# Original files
orig/*/*
!orig/*/.gitkeep
*.dol
*.rel
*.elf
*.o
*.map
*.MAP

# Build files
build/
.ninja_*
build.ninja

# decompctx output
ctx.*
*.ctx

# Generated configs
objdiff.json
compile_commands.json

# Miscellaneous
/*.txt
*.exe
.DS_Store
tools/permuter/
tools/m2c/
forge/queue/
forge/autoloop*.log
forge/autoloop-state.json
forge/autoloop-stdout.log
